<div class="about-container">
  <div class="row">
    <div class="c64_dark_blue_background">
      <h1 class="typing-about"><%=title%></h1>
      <div class="about-container">
        <h2>Z64 - A C64 game database</h2>

        <h3>Backend build with:</h3>
        <ul>
          <li><a href="https://nodejs.org">Node.js</a></li>
          <li><a href="expressjs.com/">Express</a></li>
          <li><a href="mongodb.com/">MongoDB</a></li>
        </ul>

        <h3>View engine:</h3>
        <ul>
          <li><a href="https://ejs.co/">EJS</a></li>
        </ul>

        <h3>Uses the awesome C64 Pro font from:</h3>
        <a href="https://style64.org/c64-truetype"
          >https://style64.org/c64-truetype</a
        >

        <h3 class="about-footer">
          2022 | erynder-z |
          <a href="https://github.com/erynder-z">My GitHub</a>
        </h3>
      </div>
    </div>
  </div>
</div>
