<!-- Modal Structure -->
<div id="addGenreModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Add new genre</h4>
    <%- include("add_genre_form") %>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn">Submit</a>
  </div>
</div>
