<!-- Modal Structure -->
<div id="addGameModal" class="modal bottom-sheet add-game-modal blue lighten-5">
  <div class="modal-content">
    <h4>Add new game</h4>
    <%- include("add_game_form-content") %>
  </div>
</div>
