<!-- prettier-ignore -->
<div class="row">
  <form class="col s12" action="" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Name of publisher"
          id="publisherName"
          name="publisherName"
          type="text"
          class="validate"
          required="true"
          value="<% if (typeof publisher =="undefined") { %><% } else { %><%=publisher.name %><% } %>"
        />
        <label for="publisherName" name="publisherName" class="c64_light_blue_text"
          >Name</label
        >
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Company founded year"
          id="founded"
          name="founded"
          type="number"
          class="validate"
          value="<% if (typeof publisher =="undefined") { %><% } else { %><%=publisher.founded %><% } %>"
        />
        <label for="founded" name="founded" class="c64_light_blue_text">Founded</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Company defunct year"
          id="defunct"
          name="defunct"
          type="number"
          class="validate"
          value="<% if (typeof publisher =="undefined") { %><% } else { %><%=publisher.defunct %><% } %>"
        />
        <label for="defunct" name="defunct" class="c64_light_blue_text">Defunct</label>
      </div>
    </div>
    <button type="submit" class="modal-close waves-effect waves-green btn styled-btn">
      Submit
    </button>
  </form>
  <% if (typeof errors != "undefined") { %> <% for(const error of errors) {%>
    <div class="error-msg"><%=error.msg %></div>
    <% } %> <% } %>
</div>
