<!-- prettier-ignore -->
<div class="row">
  <form class="col s12" action="" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Name of genre"
          id="genreName"
          name="genreName"
          type="text"
          class="validate"
          required="true"
          value="<% if (typeof genre =="undefined") { %><% } else { %><%=genre.name %><% } %>"
        />
        <label for="genreName" name="genreName" class="c64_light_blue_text">Name</label>
      </div>
    </div>

    <button type="submit" class="modal-close waves-effect waves-green btn styled-btn">
      Submit
    </button>
  </form>
</div>
