<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input
          placeholder="Placeholder"
          id="title"
          type="text"
          class="validate"
        />
        <label for="title">Title</label>
      </div>
      <div class="input-field col s6">
        <input id="publisher" type="text" class="validate" />
        <label for="publisher">Publisher</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input
          placeholder="Placeholder"
          id="year"
          type="number"
          class="validate"
        />
        <label for="year">Year</label>
      </div>
      <div class="input-field col s6">
        <select>
          <option value="" disabled selected>Select genre</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Genre</label>
      </div>
      <div class="input-field col s6">
        <div class="input-field col s12">
          <textarea id="summary" class="materialize-textarea"></textarea>
          <label for="summary">Summary</label>
        </div>
      </div>
      <div class="input-field col s6">
        <div class="file-field input-field">
          <div class="btn">
            <span>Add image</span>
            <input type="file" />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
