<!-- Modal Structure -->
<div
  id="addPublisherModal"
  class="modal bottom-sheet add-publisher-modal blue lighten-5"
>
  <div class="modal-content">
    <h4>Add new publisher</h4>
    <%- include("add_publisher_form") %>
  </div>
  <div class="modal-footer blue lighten-5">
    <a href="#!" class="modal-close waves-effect waves-green btn">Submit</a>
  </div>
</div>
