<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input
          placeholder="Name of publisher"
          id="publisherName"
          type="text"
          class="validate"
        />
        <label for="publisherName" class="black-text">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input
          placeholder="Company founded year"
          id="founded"
          type="number"
          class="validate"
        />
        <label for="founded" class="black-text">Founded</label>
      </div>
      <div class="input-field col s6">
        <input
          placeholder="Company defunct year"
          id="defunct"
          type="number"
          class="validate"
        />
        <label for="defunct" class="black-text">Defunct</label>
      </div>
    </div>
  </form>
</div>
