<!-- Modal Structure -->
<div id="addGameModal" class="modal bottom-sheet add-game-modal blue lighten-5">
  <div class="modal-content">
    <h4>Add new game</h4>
    <%- include("add_game_form") %>
  </div>
  <div class="modal-footer blue lighten-5">
    <a href="#!" class="modal-close waves-effect waves-green btn">Submit</a>
  </div>
</div>
