<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input
          placeholder="Placeholder"
          id="publisherName"
          type="text"
          class="validate"
        />
        <label for="publisherName">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input
          placeholder="Placeholder"
          id="founded"
          type="number"
          class="validate"
        />
        <label for="founded">Founded</label>
      </div>
      <div class="input-field col s6">
        <input
          placeholder="Placeholder"
          id="defunct"
          type="number"
          class="validate"
        />
        <label for="defunct">Defunct</label>
      </div>
    </div>
  </form>
</div>
