<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input
          placeholder="Name of genre"
          id="genreName"
          type="text"
          class="validate"
        />
        <label for="genreName" class="black-text">Name</label>
      </div>
    </div>
  </form>
</div>
