<h1><%=title%></h1>
<ul>
  <% if(game_list.length > 0){ %> <% for(const game of game_list) {%>
  <li>
    <a href="<%=game.url%>"><%=game.title%></a>
  </li>
  <% } %> <% } else{ %>
  <p>There are no games</p>

  <% } %>
</ul>
