<div class="index-container">
  <div class="welcome">
    <p>Welcome to <strong>Z64</strong>, a Commodore 64 game database!</p>
  </div>
  <% if(error){ %>
  <p>Error getting content</p>
  <% } else{ %>
  <div class="database-stats">
    <p>The databse currently contains:</p>
    <ul>
      <li>
        <b><%=game_count%></b> Games by
        <b><%=publisher_count%></b>
        Publishers
      </li>
    </ul>
  </div>
  <div class="system-stats">
    <p>Server stats:</p>
    <ul>
      <li>64K RAM SYSTEM</li>
      <li>38911 BASIC BYTES FREE</li>
    </ul>
  </div>
  <% } %>
  <h1 class="typing-index"><%=title%> ready.</h1>
</div>
