<div class="index-container">
  <p>Welcome to yet another <em>C64 games database!</em></p>

  <% if(error){ %>
  <p>Error getting content</p>
  <% } else{ %>

  <p>The databse currently contains:</p>
  <ul>
    <li>
      <b><%=game_count%></b> Games by
      <b><%=publisher_count%></b>
      Publishers
    </li>
  </ul>

  <% } %>
  <h1 class="typing-line1"><%=title%> ready.</h1>
</div>
