<nav>
  <div class="nav-wrapper c64_dark_blue_background">
    <div class="brand-logo">
      Z
      <div class="c64_logo_outline c64_logo_inner"></div>
      64
    </div>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down c64_dark_blue_text">
      <li><a href="/">Home</a></li>
      <li><a href="/library/games">Games</a></li>
      <li><a href="/library/publishers">Publishers</a></li>
      <li><a href="/library/years">Year</a></li>
      <li><a href="/library/genres">Genres</a></li>
      <li><a href="/library/about">About</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav c64_light_blue_background" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/library/games">Games</a></li>
  <li><a href="/library/publishers">Publishers</a></li>
  <li><a href="/library/years">Year</a></li>
  <li><a href="/library/genres">Genres</a></li>
  <li><a href="/library/about">About</a></li>
</ul>
