<nav>
  <div class="nav-wrapper blue darken-3">
    <a href="/" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/library/games">Games</a></li>
      <li><a href="/library/publishers">Publishers</a></li>
      <li><a href="#">Year</a></li>
      <li><a href="/library/genres">Genres</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/library/games">Games</a></li>
  <li><a href="/library/publishers">Publishers</a></li>
  <li><a href="#">Year</a></li>
  <li><a href="/library/genres">Genres</a></li>
  <li><a href="#">About</a></li>
</ul>
