<h1 class="typing-unable-action"><%= title %></h1>

<p>
  <strong>This item is locked and cannot be modified!</strong>
  <br />
  <strong>Unlock item and try again!</strong>
</p>
<a
  class="back-btn waves-effect waves-light btn"
  href="javascript:history.back()"
  ><i class="material-icons left">arrow_back</i>Go Back</a
>
