:root {
  --c64_dark_blue: #50459b;
  --c64_light_blue: #887ecb;
  --c64_red: #9f4e44;
  --c64_orange: #cb7e75;
  --c64_yellow: #c9d487;
  --c64_dark_grey: #626262;
  --c64_medium_grey: #898989;
  --c64_light_grey: #adadad;
  --c64_light_green: #9ae29b;
  --c64_dark_green: #5cab5e;
  --c64_pink: #a057a3;
}

.brand-logo {
  display: flex !important;
  align-items: center;
  color: var(--c64_light_blue) !important;
}

.c64_logo_outline {
  height: 1rem;
  width: 3rem;
  margin: 0 0.8rem 0 0.5rem;
}

.c64_logo_inner {
  background: -webkit-linear-gradient(
    top,
    var(--c64_red) 11.1%,
    var(--c64_dark_grey) 11.1%,
    var(--c64_dark_grey) 22.4%,
    var(--c64_orange) 22.4%,
    var(--c64_orange) 33.3%,
    var(--c64_dark_grey) 33.3%,
    var(--c64_dark_grey) 44.4%,
    var(--c64_yellow) 44.4%,
    var(--c64_yellow) 55.6%,
    var(--c64_dark_grey) 55.6%,
    var(--c64_dark_grey) 66.7%,
    var(--c64_dark_green) 66.7%,
    var(--c64_dark_green) 77.8%,
    var(--c64_dark_grey) 77.8%,
    var(--c64_dark_grey) 88.9%,
    var(--c64_light_blue) 88.9%,
    var(--c64_light_blue) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--c64_red) 11.1%,
    var(--c64_dark_grey) 11.1%,
    var(--c64_dark_grey) 22.4%,
    var(--c64_orange) 22.4%,
    var(--c64_orange) 33.3%,
    var(--c64_dark_grey) 33.3%,
    var(--c64_dark_grey) 44.4%,
    var(--c64_yellow) 44.4%,
    var(--c64_yellow) 55.6%,
    var(--c64_dark_grey) 55.6%,
    var(--c64_dark_grey) 66.7%,
    var(--c64_dark_green) 66.7%,
    var(--c64_dark_green) 77.8%,
    var(--c64_dark_grey) 77.8%,
    var(--c64_dark_grey) 88.9%,
    var(--c64_light_blue) 88.9%,
    var(--c64_light_blue) 100%
  );
}

::-moz-selection {
  color: var(--c64_dark_blue);
  background: var(--c64_light_blue);
}

::selection {
  color: var(--c64_dark_blue);
  background: var(--c64_light_blue);
}

html {
  /* Firefox */
  scrollbar-color: var(--c64_light_blue) var(--c64_dark_blue);
}

/* Chrome */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--c64_dark_blue);
}
::-webkit-scrollbar-thumb {
  background: var(--c64_light_blue);
}

.c64_dark_blue_background {
  background-color: var(--c64_dark_blue);
}

.c64_light_blue_background {
  background-color: var(--c64_light_blue);
}

.c64_dark_blue_text {
  color: var(--c64_dark_blue);
}

.c64_light_blue_text {
  color: var(--c64_light_blue);
}

@font-face {
  /* "http://style64.org/c64-truetype */
  font-family: C64_Pro-STYLE;
  src: url(../fonts/C64_Pro-STYLE.ttf);
}

@font-face {
  /* "http://style64.org/c64-truetype */
  font-family: C64_Pro_Mono-STYLE;
  src: url(../fonts/C64_Pro_Mono-STYLE.ttf);
}

body {
  font-family: C64_Pro-STYLE;
}

a {
  color: var(--c64_light_blue);
}

a:hover {
  color: var(--c64_light_green);
}

hr {
  height: 1px;
  background-color: var(--c64_light_blue);
  border-color: var(--c64_light_blue);
}

.card-content h2 {
  font-size: 1.5rem;
}

.btn-floating {
  border-radius: 0;
  background-color: var(--c64_light_blue) !important;
}

.btn-floating i:hover {
  background-color: var(--c64_light_green);
}

.btn-floating i {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--c64_dark_blue) !important;
}

.close {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--c64_red);
}

.close:hover {
  color: var(--c64_yellow);
}

.nav-wrapper {
  outline: solid 2px var(--c64_light_blue);
  padding: 0 1rem;
}

.nav-wrapper ul {
  border-bottom: none;
}

.nav-wrapper a,
.nav-wrapper ul li a,
.sidenav li a {
  background-color: var(--c64_dark_blue);
  color: var(--c64_light_blue);
  border-bottom: none;
}

.nav-wrapper a:hover,
.nav-wrapper ul li a:hover,
.sidenav li a:hover {
  color: var(--c64_light_green);
}

.toolbar ul {
  border-top: solid 2px var(--c64_dark_blue);
  background-color: var(--c64_light_blue);
}

.fixed-action-btn.toolbar ul li a {
  color: var(--c64_dark_blue);
}
.fixed-action-btn.toolbar ul li a:hover {
  color: var(--c64_light_green);
}

.list-head,
.collection .collection-item {
  display: flex;
  gap: 3rem;
  background-color: unset !important;
  border: none;
  padding: 0.15rem 1rem;
  margin-bottom: 0;
}

.list-head > * {
  font-size: 1.5rem;
}

.list-head .right-part {
  background-color: var(--c64_light_blue);
  color: var(--c64_dark_blue);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.collection {
  border: none;
  margin-top: 0;
}

.list-item-container {
  display: flex;
  font-size: 1.5rem;
  width: 100%;
}
.list-item-container .left-part {
  width: 3rem;
}

.list-item-container .right-part {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem 0 5rem;
}

.list-item-container .right-part span {
  text-align: end;
}

.app-container {
  min-height: 100vh;
  background-color: var(--c64_dark_blue);
}

.add-game-modal,
.add-publisher-modal,
.add-genre-modal {
  max-height: 100% !important;
}

.content-wrapper {
  padding: 1rem;
  scrollbar-color: rebeccapurple green;
}

.game_card-image {
  width: 320px;
  height: 200px;
}

.index h1,
.game_list h1,
.publisher_list h1 {
  text-align: center;
}

.item-options {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2rem;
}

.game-action {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;

  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 5rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(245, 245, 245, 0.15);
  opacity: 1; /* Firefox */
}

.back-btn {
  width: 10rem;
}

.btn {
  background-color: var(--c64_light_blue);
  color: var(--c64_dark_blue);
}

.btn:hover {
  background-color: var(--c64_light_green);
  color: var(--c64_dark_blue);
}

.styled-btn {
  font-family: C64_Pro-STYLE;
  width: 10rem;
}

input,
textarea {
  font-family: C64_Pro-STYLE;
  color: var(--c64_light_blue);
}

.input-field > label {
  color: var(--c64_light_blue);
}

/* .input-field input[type='text']:focus {
  border-bottom: 1px solid var(--c64_yellow);
} */

.input-field input[type='text'].valid {
  border-bottom: 1px solid var(--c64_dark_green);
}

.input-field input[type='text'].invalid {
  border-bottom: 1px solid var(--c64_red);
}

.checkbox-c64[type='checkbox'].filled-in:checked + span:not(.lever):after {
  border: 2px solid var(--c64_light_blue);
  background-color: var(--c64_light_blue);
}

.checkbox-c64[type='checkbox'].filled-in:checked + span:not(.lever):before {
  border-right: 2px solid var(--c64_dark_blue);
  border-bottom: 2px solid var(--c64_dark_blue);
}

ul.dropdown-content {
  outline: solid 1px var(--c64_light_blue);
}

ul.dropdown-content.select-dropdown li span {
  background-color: var(--c64_dark_blue);
  color: var(--c64_light_blue);
}

ul.dropdown-content.select-dropdown li span:hover {
  background-color: var(--c64_light_blue);
  color: var(--c64_dark_blue);
}

.about-container > h2 {
  font-size: 2rem;
}

.about-container > h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.about-footer {
  margin-top: 5rem;
}

.action-btn {
  all: unset;
}

.action-btn:hover {
  color: var(--c64_light_green);
}

.error-msg {
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typing-index {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 1.5rem;
  border-right: 1.5rem solid var(--c64_light_blue);
  width: 25em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(25, end),
    blink-caret 0.4s 2s step-end infinite alternate;
}

.typing-games {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 10em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(10, end),
    blink-caret 0.4s 2s step-end infinite alternate;
}

.typing-publisher {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 15em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(15, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-year {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 18em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s steps(18, end),
    blink-caret 0.4s 2.5s step-end infinite alternate;
}

.typing-genre {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 11em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(11, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-about {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 6em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(6, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-unable-action {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 17em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(17, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-unlock-game {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 12em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(12, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-lock-game {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 10em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(10, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-unlock-publisher {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 17em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(17, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-lock-publisher {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 15em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(15, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-unlock-genre {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 13em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(13, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-lock-genre {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 11em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(11, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-add-game {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 2rem;
  border-right: 2rem solid var(--c64_light_blue);
  width: 9em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(9, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-update-game {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 2rem;
  border-right: 2rem solid var(--c64_light_blue);
  width: 12em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(12, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-add-publisher {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 2rem;
  border-right: 2rem solid var(--c64_light_blue);
  width: 17em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(17, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

.typing-add-genre {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 2rem;
  border-right: 2rem solid var(--c64_light_blue);
  width: 13em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(13, end),
    blink-caret 0.4s 1.5s step-end infinite alternate;
}

@media only screen and (max-width: 599px) {
  .nav-wrapper {
    padding: unset;
  }

  .content-wrapper {
    padding: 0.5rem;
  }

  .item-options {
    justify-content: center;
  }

  .typing-index {
    font-size: 1rem;
    border-right: 1rem solid var(--c64_light_blue);
  }

  .typing-games,
  .typing-publisher,
  .typing-year,
  .typing-genre,
  .typing-unable-action,
  .typing-unlock-game,
  .typing-lock-game,
  .typing-unlock-publisher,
  .typing-lock-publisher,
  .typing-unlock-genre,
  .typing-lock-genre,
  .typing-add-game,
  .typing-add-publisher,
  .typing-add-genre {
    font-size: 1.2rem;
    border-right: 1.2rem solid var(--c64_light_blue);
  }

  .card-content > h1,
  .card-title > h1 {
    width: unset !important;
    white-space: unset !important;
    border-right: unset !important;
  }

  .game-action {
    padding: unset;
    margin-top: 4rem;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .list-head > *,
  .list-item-container > * {
    font-size: 1rem;
  }

  .item-options > p {
    text-align: center;
  }

  /*   .content-wrapper > h4 {
    font-size: 1.5rem;
  } */
}
