:root {
  --c64_dark_blue: #50459b;
  --c64_light_blue: #887ecb;
}

.c64_dark_blue_background {
  background-color: var(--c64_dark_blue);
}

.c64_light_blue_background {
  background-color: var(--c64_light_blue);
}

.c64_dark_blue_text {
  color: var(--c64_dark_blue);
}

.c64_light_blue_text {
  color: var(--c64_light_blue);
}

@font-face {
  /* "http://style64.org/c64-truetype */
  font-family: C64_Pro-STYLE;
  src: url(../fonts/C64_Pro-STYLE.ttf);
}

@font-face {
  /* "http://style64.org/c64-truetype */
  font-family: C64_Pro_Mono-STYLE;
  src: url(../fonts/C64_Pro_Mono-STYLE.ttf);
}

body {
  font-family: C64_Pro-STYLE;
}

/* a {
  color: #bbdefb;
} */

.btn-floating {
  border-radius: 0;

  /*   overflow: unset !important; */
}

.btn-floating i {
  color: var(--c64_dark_blue) !important;
}

.nav-wrapper {
  outline: solid 2px var(--c64_light_blue);
}

.nav-wrapper ul {
  border-bottom: none;
}

.nav-wrapper a,
.nav-wrapper ul li a,
.sidenav li a {
  background-color: var(--c64_dark_blue);
  color: var(--c64_light_blue);
  border-bottom: none;
}

.toolbar ul {
  border-top: solid 2px var(--c64_dark_blue);
  background-color: var(--c64_light_blue);
}

.fixed-action-btn.toolbar ul li a {
  color: var(--c64_dark_blue);
}

.app-container {
  min-height: 100vh;
  background-color: var(--c64_dark_blue);
}

.add-game-modal,
.add-publisher-modal,
.add-genre-modal {
  max-height: 100% !important;
}

.content-wrapper {
  padding: 1rem;
}

.content-wrapper.index,
.content-wrapper.game_list,
.content-wrapper.publisher_list,
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index h1,
.game_list h1,
.publisher_list h1 {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.game-card,
.publisher-card {
  width: 25vw;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(245, 245, 245, 0.25);
  opacity: 1; /* Firefox */
}

.back-btn {
  width: 10rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typing-index {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 1.5rem;
  border-right: 1.5rem solid var(--c64_light_blue);
  width: 25em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(25, end),
    blink-caret 0.5s 2s step-end infinite alternate;
}

.typing-games {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 10em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(10, end),
    blink-caret 0.5s 2s step-end infinite alternate;
}

.typing-publisher {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 15em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(15, end),
    blink-caret 0.5s 1.5s step-end infinite alternate;
}

.typing-year {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 18em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s steps(18, end),
    blink-caret 0.5s 2.5s step-end infinite alternate;
}

.typing-genre {
  font-family: C64_Pro_Mono-STYLE;
  font-size: 4rem;
  border-right: 4rem solid var(--c64_light_blue);
  width: 11em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(11, end),
    blink-caret 0.5s 1.5s step-end infinite alternate;
}

@media only screen and (max-width: 599px) {
  .game-card,
  .publisher-card {
    width: 100%;
  }
}
